<% content_for(:title, "List | To Do") %>
<div class="tasks-list">
	<h1><%= @list.name %></h1>
	<% if @list.tasks.any? %>
	<h4>Here are the tasks for this list:</h4>
	<ul>
		<li>
			<% @list.tasks.each do |task| %>
			<div class="row">
				<div class="col s12 m3 l3">
					<div class="card blue">
						<div class="card-content white-text">
							<span class="card-title"><%=@list.name%></span>
							<p><%=task.description%></p>
						</div>
						<div class="card-action">
							<%= link_to "Edit", edit_list_task_path(@list, task) %>
							<%= link_to "Delete", list_task_path(@list, task),
							:data => {:confirm => "Are you sure?",
							:method => "delete"} %>
						</div>
					</div>
				</div>
			</div>
		</li>
		<% end %>
	</ul>
	<% else %>
	<p>There are no tasks yet!</p>
	<% end %>
	<p><%= link_to "Add a task", new_list_task_path(@list) %></p>
	<p><%= link_to "Edit List", edit_list_path(@list) %></p>
	<p><%= link_to "Delete List", list_path(@list),
		:data => {:confirm => "Are you sure?",
	:method => "delete"} %></p>
	<p><%= link_to "Return to lists", lists_path %></p>
</div>